{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}MHD{% endblock %}

{% block sidebar %}

<div class="block">
  <h3>Download</h3>
  <div class="content">
<p>
This project is opensource (BSD licensed), source code is available at
<a href="http://github.com/certik/mhd-hermes">http://github.com/certik/mhd-hermes</a>
</p>
<p>
You can download it in either
<a href="http://github.com/certik/mhd-hermes/zipball/master">zip</a> or
<a href="http://github.com/certik/mhd-hermes/tarball/master">tar</a> formats.
</p>
<p>You can also clone the project with <a href="http://git-scm.com">Git</a>
by running:
<pre>$ git clone \
  git://github.com/certik/mhd-hermes</pre>
</p>
  </div>
</div>

<div class="block">
  <h3>Issues</h3>
  <div class="content">
<p>
The list of open issues and bugs is available at:<br/>
<a href="http://github.com/certik/mhd-hermes/issues">http://github.com/certik/mhd-hermes/issues</a>
</p>
  </div>
</div>

{% endblock %}

{% block content %}

<h2 class="title">About</h2>
<div class="inner">
<p class="first">
<code>MHD-Hermes</code> is a <a href="http://en.wikipedia.org/wiki/Magnetohydrodynamics">magnetohydrodynamics</a> simluation software written in C++ and Python, using the <a href="http://hpfem.org/">Hermes</a> hp-FEM library.
</p>
<p>
It was developed during the summer 2009 in the <a href="http://lanl.gov/">Los Alamos National Laboratory</a>.
</p>
</div>

<h2 class="title">Example Calculation</h2>
<div class="inner">
<p class="first">
To get some idea what this software is doing, 
here is a sample video of a pressure vs time (see the <a
    href="videos.html">Videos section</a> for all videos in high quality):<br/>
{{ video("http://cloud.github.com/downloads/certik/mhd-hermes/video.png",
"http://cloud.github.com/downloads/certik/mhd-hermes/video.flv", 320, 264) }}
</p>
</div>

{% endblock %}
