{% from "macros" import video %}
{% extends "base.html" %}

{% block title %}MHD Videos{% endblock %}

{% block content %}

<h2 class="title">Videos</h2>
<div class="inner">
<p class="first">
Below is a list of all videos created using the <code>mhd-hermes</code> program.
</p>
<h3 class="title">Incompressible Navier-Stokes</h3>
Pressure field:
<p>
{{ video("http://cloud.github.com/downloads/certik/mhd-hermes/video.png",
"http://cloud.github.com/downloads/certik/mhd-hermes/video.flv", 640, 504) }}
</p>
Pressure field (uniformly refined mesh):
<p>
{{ video("http://cloud.github.com/downloads/certik/mhd-hermes/pressure2.png",
"http://cloud.github.com/downloads/certik/mhd-hermes/pressure2.flv", 640, 504) }}
</p>
</div>

{% endblock %}

{% block sidebar %}

<div class="block">
  <h3>How the videos were created</h3>
  <div class="content">
    <p>
The mhd-hermes program generated a set of *.vtk files. They were converted to
*.png files using mayavi and the video was created using:
<pre>
ffmpeg -b 3600k -i output/frame%04d.png \
  -r 15 video.flv
</pre>
    </p>
  </div>
</div>

{% endblock %}
